.header {
    grid-area: h;
    background-color: #7dd87d;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 70px;
}

.logo img {
    height: auto;
}
.loginBlock {
    float: right;
}
.loginBlock a {
    color: white;
}
