.paginator {
    display: flex;
    align-items: center;
    margin: 10px;
}
.pageNumber {
    margin: 0 8px;
    padding: 2px 4px;
    border: 1px solid grey;
    cursor: pointer;
}
.pageNumber.selectedPage {
    font-weight: bold;
    border-color: black;
}
